.productsTable {
    th {
        font-size: 0.8rem;
    }
    td {
        font-size: 0.8rem;
    }
}

.footerContainer {
    align-self: center;
    justify-self: center;
    .author {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}