$font-color: black;
$base-color: #d4d4d4;
.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-right: 3px solid #00aeef;
    .menuList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0;
        width: 100%;
        &Item {
            text-transform: uppercase;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-top: 1px solid #d4d4d4;
            width: 100%;
            height: 50px;
            padding: 10px;
            &Last {
                border-bottom: 1px solid #d4d4d4;
            }
            a {
                color: black;
            }
            i {
                width: 40px;
                font-size: 1rem;
                margin-right: 10px;
            }
        }
    }
}

.menuList>.menuListItem:hover {
    background-color: #00aeef;
    a,
    i {
        color: white;
    }
}

.menuListItem>.menuListItemActive {
    background-color: #00aeef;
    text-transform: lowercase;
    .menuListItem:hover {
        background-color: #00aeef;
        a:hover {
            color: white;
        }
    }
}